@import 'colors.scss';
@import 'banner.scss';
$theme-colors: (
  'custom-blue': $custom-blue,
  'custom-light-blue': $custom-light-blue,
  'custom-white': $custom-white,
  'custom-black': $custom-black,
  'custom-orange': $custom-orange,
  'custom-dark-purple': $custom-dark-purple
);

@import '~bootstrap/scss/bootstrap';

html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media(mas-width: 1025px){
  .container{
    width: 95% !important;
  }
}

.clickable_effect:hover{
  opacity: 0.8;
  transform:scale(1.01);
  cursor: pointer;
}